- const attributes = ["Ausdauer", "Gewandtheit", "Muskelkraft", "Rationalität", "Kreativität", "Willenskraft"]
- const attributesShort = ["AuD", "GeH", "MuK", "RaT", "KrT", "WiK"]
- const attributeRange = [1, 9]
