.about_main
    +textInputLabeled("Name")
    +textInputLabeled("Rasse")
    +textInputLabeled("Alter")
    +textInputLabeled("Größe")
    +textInputLabeled("Gewicht")
.about_details
    +textareaLabeled("Aussehen")
