
.values
    display flex
    flex-direction row
    padding 15px

.values div
        width 115px
        margin-right 10px

.rolls
    padding 15px
    display block
    
    .probe
        display flex
        order 1
        flex-wrap wrap
        flex-direction row
        align-content stretch
        justify-content flex-start
        align-items stretch
        column-gap 20px
        row-gap 5px
        label
            order 1

        input
            order 1

        button
            order 2
