+hiddenVar("Traglast_computed")(value=0)
.overwiev 
    //-- +textInputLabeled("Tragkraft", "true")(value=`[[@{AuD}*5]]`)
    +textInputLabeled("Traglast")(value=`[[@{Traglast_computed}]]` disabled=true)
    //- +textInputLabeled("Erschwernis", "true")
.equipment 
    .head
        b Angelegt 
        b Name 
        b Beschreibung 
        b Gewicht 
        b Rucksack
    fieldset(class=`repeating_ausrüstung`)
        .rowx.grid.descriptor
            +checkboxInput('istangelegt')(titel="Ist Angelegt")
            +textInput(`Name`,`font-weight: bold`)
            +textInput('Beschreibung', `font-style: italic`)
            +textInput('Gewicht', `font-style: italic`)
            +checkboxInput('istrucksack')(titel="Ist Rucksack")