.generator
    margine 10px
    display block
    .mop
        .header
            display flex
            flex-wrap wrap
            flex-direction row
    .res
        .header
            display flex
            flex-wrap wrap
            flex-direction row
.beta
    position fixed
    top 0
    left -50%
    bottom 0
    z-index -1
    color #dfdede
    transform rotate(315deg)
    -webkit-transform rotate(315deg)
    font-size x-large