include ../components/templates
include ../components/component

.main-body
    +createTabDefault("Übersicht")
        include ../pages/about

    +createTabDefault("Attribute")
        include ../pages/attributes

    +createTabDefault("Eigenschaften")
        include ../pages/properties

    +createTabDefault("Fertigkeiten")
        include ../pages/abilities
    
    +createTabDefault("Ressourcen")
        include ../pages/ressources