include ../components/templates
include ../components/component

.main-body
    +createTabDefault("Übersicht")(style="margin-left: 15px")
        include ../pages/about

    +createTabDefault("Attribute")
        include ../pages/attributes
        include ../pages/wounds
        
    +createTabDefault("Eigenschaften")
        include ../pages/properties

    +createTabDefault("Fertigkeiten")
        include ../pages/abilities
    
    +createTabDefault("Ressourcen")
        include ../pages/ressources

    +createTabDefault("Ausrüstung")
        include ../pages/equipment
        
    +createTabDefault("Generierung")
        include ../pages/generator