include ../components/templates
include ../components/component

.main-body
    +createTabDefault("Übersicht")
        +component
        p loedjöfhdölsfg ghöf öshfjgöfs jghfjsg ljdfghl dfalgdf ghadfjghadfl gkdhaflgh dflaghdlafg had#
        p dfjhgkljdfsg ödfgödf hjgdfag öjdfagödfag öfagö göfdhgöjadf gg p dföghdsg 
        p 435897ß3457ß078ß0457ß8 pughpsh gdfsh

    +createTabDefault("Attribute")
        include ../pages/attributes

    +createTabDefault("Eigenschaften")
        p test 2
        p 93405ß91345j25g7h24gß7gohljghdflskgög gfgkjg ögöja ghöjadfg hjafg öjdfagödfag
        p 34905b3ßk nmmhuif89ßn78ß45  ßjbg2458ßj62j6

    +createTabDefault("Fertigkeiten")
        p test 2
        p 93405ß91345j25g7h24gß7gohljghdflskgög gfgkjg ögöja ghöjadfg hjafg öjdfagödfag
        p 34905b3ßk nmmhuif89ßn78ß45  ßjbg2458ßj62j6
    
    +createTabDefault("Ressourcen")
        p test 2
        p 93405ß91345j25g7h24gß7gohljghdflskgög gfgkjg ögöja ghöjadfg hjafg öjdfagödfag
        p 34905b3ßk nmmhuif89ßn78ß45  ßjbg2458ßj62j6