
.main-body
    display flex
    flex-wrap wrap

  
   

.main-body input[type="radio"]
    display none

.main-body label
    width max-content
    font-weight bold
    background #e2e2e2
    padding 15px

.main-body .tab
    width 100%
    padding 10px
    background #fff
    order 1
    display none

.main-body input[type='radio']:checked + label + .tab
    display block

.main-body input[type='radio']:checked + label
    background #ccc