.schulden 
    h2 Schulden
    +repeatingText("Schulden")
.feinde 
    h2 Feinde
    +repeatingText("Feinde")
.verbindungen 
    h2 Verbindungen
    +repeatingText("Verbindungen")
.ruf
    h2 Ruf
    +repeatingText("Ruf")
.stand
    h2 Stand
    +dropDown("Stand", raspa_stand)
.besitz 
    h2 Besitz
    +repeatingText("Besitz")