.main-body {
  display: flex;
  flex-wrap: wrap;
}
.main-body input[type="radio"] {
  display: none;
}
.main-body label {
  width: max-content;
  font-weight: bold;
  background: #e2e2e2;
  padding: 15px;
  margin-bottom: 0px;
}
.main-body .tab {
  width: 100%;
  padding: 15px;
  background: #fff;
  order: 1;
  display: none;
  border: #000;
  border-radius: 15px;
  border-style: groove;
}
.main-body input[type='radio']:checked + label + .tab {
  display: block;
  clip-path: inset(0);
  background: none;
}
.main-body input[type='radio']:checked + label {
  background: #ccc;
}
.values {
  display: flex;
  flex-direction: row;
  padding: 15px;
}
.values div {
  width: 115px;
  margin-right: 10px;
}
.rolls {
  padding: 15px;
  display: block;
}
.rolls .probe {
  display: flex;
  order: 1;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: stretch;
  justify-content: flex-start;
  align-items: stretch;
  column-gap: 20px;
  row-gap: 5px;
}
.rolls .probe label {
  order: 1;
}
.rolls .probe input {
  order: 1;
}
.rolls .probe button {
  order: 2;
}
.about_main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: stretch;
  justify-content: flex-start;
  align-items: stretch;
}
.repcontainer {
  display: flex;
  flex-wrap: wrap;
  column-gap: 15px;
  row-gap: 2px;
}
.generator {
  margin: 10px;
  display: block;
}
.generator .mop .header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.generator .mop .header input[type=number] {
  width: auto;
}
.generator .res .header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.beta {
  position: fixed;
  top: 0;
  left: -50%;
  bottom: 0;
  z-index: -1;
  color: #dfdede;
  transform: rotate(315deg);
  -webkit-transform: rotate(315deg);
  font-size: x-large;
}
.body-abilities div div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.body-abilities div div > * {
  padding-right: 25px;
}
.body-abilities div div input {
  margin-left: auto;
}
.ressources .repcontainer {
  display: block;
}
.ressources .rowx.grid.descriptor input[name="attr_description"] {
  width: 60%;
}
.overwiev {
  display: flex;
  flex-wrap: wrap;
}
.overwiev input {
  width: 100px;
}
.equipment {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  justify-content: space-between;
}
.equipment .head b {
  padding: 45px;
}
.component {
  display: block;
}
.rolltemplate {
  border: 1px;
  display: block;
}
.sheet-rolltemplate-sheetname {
  display: block;
}
.sheet-rolltemplate-test {
  display: block;
}
.sheet-rolltemplate-test .sheet-template-container {
  border: 2px;
  border-style: groove;
  background-color: #fff;
}
.sheet-rolltemplate-test .sheet-template-container .sheet-results {
  display: flex;
  padding: 15px;
}
