.rolltemplate
  border 1px
  display block

.sheet-rolltemplate-sheetname
  display block

.sheet-rolltemplate-test 
  display block

.sheet-rolltemplate-test
  .sheet-template-container
    border 2px
    border-style groove
    background-color #fff
    .sheet-results
      display flex
      padding 15px
      